@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@600&family=Lato:wght@300;400&family=Oswald:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
}

body {
  background-color: #F8FFF8;
  color: #000;
  font-size: 1rem;
  font-family: "Lato", serif;
  font-weight: 400;
}
body.no-scroll {
  overflow: hidden;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

/*BUTTUN CONTACT*/
.button-contact {
  font-family: "Lato", serif;
  font-weight: normal;
  color: #000;
  border: none;
  border-radius: 2px;
  background-color: #FD7A00;
  padding: 8px 24px;
}

footer h3 {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  height: 96px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 16px;
    height: 58px;
  }
}
nav h3 {
  font-weight: normal;
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  nav h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  nav h3 {
    font-size: 18px;
  }
}
nav .accueil, nav .title, nav .nav-button {
  display: flex;
  align-items: center;
}
nav .title {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
@media screen and (max-width: 1024px) {
  nav .title {
    position: static;
    transform: none;
  }
}
nav .accueil {
  font-family: "Oswald", sans-serif;
  padding: 6px 0;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  nav .accueil {
    display: none;
  }
}
nav .accueil div {
  width: 33%;
}
nav .nav-button {
  gap: 24px;
}
@media screen and (max-width: 768px) {
  nav .nav-button {
    display: none;
  }
}
nav #name {
  color: #E84E01;
}

/*MAIN BODY*/
.main {
  text-align: center;
  min-height: calc(100vh - 144px);
}
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
  }
}
.main section {
  display: flex;
  padding: 64px 0;
  gap: 32px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .main section {
    padding-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  .main section {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
.main section img {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 1024px) {
  .main section img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .main section img {
    width: 220px;
    height: 220px;
  }
}
.main section .text_pres {
  padding-top: 32px;
  max-width: 468px;
  gap: 16px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .main section .text_pres {
    max-width: 300px;
    padding-top: 0;
  }
}
.main section .text_pres h1 {
  vertical-align: top;
  font-family: "Anton", serif;
  font-size: 48px;
}
@media screen and (max-width: 1024px) {
  .main section .text_pres h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 768px) {
  .main section .text_pres h1 {
    font-size: 36px;
  }
}
.main section .text_pres p {
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  .main section .text_pres p {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .main section .text_pres p {
    font-size: 18px;
  }
}
.main section .text_pres .button_pres {
  display: flex;
  margin-top: 48px;
  gap: 16px;
}
.main section .text_pres .button_pres a {
  padding: 12px 16px;
  border-radius: 4px;
}
.main section .text_pres .button_pres :last-child {
  background-color: #E5FBF2;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 16px 0;
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 5px 0;
  }
}
footer p {
  gap: 2px;
}
footer .valentin {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  footer .valentin {
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 5px 0;
  }
}
footer .valentin a {
  width: 16px;
  height: 16px;
}
footer .valentin img {
  height: 9px;
}

/*# sourceMappingURL=index.css.map */
