@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@600&family=Lato:wght@300;400&family=Oswald:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
}

body {
  background-color: #F8FFF8;
  color: #000;
  font-size: 1rem;
  font-family: "Lato", serif;
  font-weight: 400;
}
body.no-scroll {
  overflow: hidden;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

/*BUTTUN CONTACT*/
.button-contact {
  font-family: "Lato", serif;
  font-weight: normal;
  color: #000;
  border: none;
  border-radius: 2px;
  background-color: #FD7A00;
  padding: 8px 24px;
}

footer h3 {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 14px;
}

.main-projet {
  text-align: center;
  min-height: calc(100vh - 144px);
  padding-top: 64px;
  padding-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .main-projet {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.main-projet h2 {
  font-family: "Anton", serif;
  font-size: 48px;
  margin-bottom: 32px;
}
.main-projet h3 {
  font-family: "Oswald", serif;
  font-size: 28px;
}
.main-projet .projet-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 16px;
  max-width: 616px;
  margin: 0 auto;
  /*Component Box global*/
  /*Component long*/
  /*Component short global*/
  /*Component short avec image*/
  /*Component short sans image*/
  /*Component content global*/
  /*Component Github + lien Voir site*/
}
@media screen and (max-width: 768px) {
  .main-projet .projet-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    align-items: center;
    justify-content: center;
  }
}
.main-projet .projet-wrapper .box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  display: flex;
  justify-content: end;
}
.main-projet .projet-wrapper .box-long {
  grid-column: span 2/span 2;
  grid-row: 1;
}
.main-projet .projet-wrapper .box-long .long {
  width: 50%;
}
.main-projet .projet-wrapper .box-short {
  grid-column: span 1/span 1;
  grid-row: 2;
  height: 300px;
  /*Component content short*/
}
.main-projet .projet-wrapper .box-short .short {
  width: 300px;
}
.main-projet .projet-wrapper .box-short-img {
  align-items: flex-end;
}
.main-projet .projet-wrapper .box-content {
  background: rgba(229, 250, 241, 0.9);
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 16px;
}
@media screen and (max-width: 768px) {
  .main-projet .projet-wrapper .box-content {
    padding: 6px;
    justify-content: start;
    height: fit-content;
  }
}
.main-projet .projet-wrapper .box-content .box-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main-projet .projet-wrapper .box-content .box-top .langage-text-box {
  display: flex;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .main-projet .projet-wrapper .box-content .box-top .langage-text-box {
    flex-direction: column;
    gap: 2px;
  }
}
.main-projet .projet-wrapper .box-content .box-top .langage-text-box .langage-text {
  border: solid 2px #E84E01;
  padding: 4px 8px;
  border-radius: 2px;
  width: fit-content;
}
.main-projet .projet-wrapper .box-content .box-top .langage-text-box .langage-text p {
  width: fit-content;
}
.main-projet .projet-wrapper .box-bottom {
  display: flex;
  gap: 8px;
  padding-top: 8px;
  justify-content: end;
  align-items: center;
}
.main-projet .projet-wrapper .box-bottom .link-site {
  background-color: #E5FBF2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition: all 0.3s;
}
.main-projet .projet-wrapper .box-bottom .link-site:hover {
  background-color: #E84E01;
}
.main-projet .projet-wrapper .box-bottom .link-site a {
  padding: 8px 4px;
}

/*Component image*/
#ecowrap {
  background-image: url("../style/image/ageCalculator.png");
}

#cakephp {
  background-image: url("../style/image/cakephp.png");
}

/*# sourceMappingURL=projets.css.map */
